{% extends 'SocialLibraryBaseBundle::base.html.twig' %}

{% block content %}
<h1>Welcome on Social Library!</h1>
<h3>The online collection sharing and managing</h3>

<p>
    Social Library is a collection manager. It's purpose is for every one to manage his collections trough the power of Internet.
    
</p>
{% endblock %}