parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: socialLibrary
    database_user: socialLibrary
    database_password: "socialLibrary"
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 15846c3b8853093fe8dd10c16dfbd7cb89f376bc
    database_path: null

